page-login {

#login {
    background-image:none;
	background-color:#46000A;
	color:white;
}

#loginButton {
	background-color:black;
}

#logo {
	align-items:center;
	margin:auto;
	display:block;
	padding-top:15%;
	border-radius:4%;
	width:auto;
	height:30vh;
}

#loginButtons {
	height:3vh;
	width:auto;
}

#loginButt {

	width:40%;
	position:relative;
	overflow:hidden;
	margin:auto;
}

#buttons {
	position:relative;
	overflow:hidden;
}

}
